<!-- <html>
    <head>
        <style>
            table{
                font-family: arial,sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td,th{
                border: 1px solid #dddddd;
                text-align-last: left;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <h3 style="text-align: center;">C@fe M@n@gement System</h3>
        <table>
            <tr>
                <th>Name : <%= name%></th>
                <th>email : <%= email%></th>
            </tr>
            <tr>
                <th>contact : <%= contactNumber%></th>
                <th>Payement Method : <%= paymentMethod%></th>
            </tr>
        </table>

        <h3>Product Details</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Sub-Total</th>
            </tr>
            <% if(productDetails.length > 0) {%>
                <% productDetails.forEach(product => { %>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.category %></td>
                        <td><%= product.quantity %></td>
                        <td><%= product.price %></td>
                        <td><%= product.total %></td>
                    </tr>
                    <%});%>
                    <%}%>
        </table>

        <h3>Total : <%= totalAmount %></h3>
        <h3>Thank You For Visiting Visit Again!!</h3>
    </body>
</html> -->




<html>
<head>
<style>
    table{
    font-family: arial,sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border: 1px solid #dddddd;
    text-align-last: left;
    padding: 8px;
}

</style>
</head>
<body>
    <h3 style="text-align: center;">C@fe M@n@gement System</h3>
        <table>
            <tr>
                <th>Name : <%= name%></th>
                <th>email : <%= email%></th>
            </tr>
            <tr>
                <th>contact : <%= contactNumber%></th>
                <th>Payment Method : <%= paymentMethod%></th>
            </tr>
        </table>

        <h3>Product Details</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th> 
                <th>Price</th> 
                <th>Sub-Total</th>
            </tr>
            <% if(productDetails.length > 0) {%>
                <% productDetails.forEach(product => { %>
                    <tr>
                        <td><%= product.name %></td> 
                        <td><%= product.category %></td> 
                        <td><%= product.quantity %></td> 
                        <td><%= product.price %></td> 
                        <td><%= product.total %></td>
                    </tr>
                    <%});%> 
                    <%}%>
        </table>

        <h3 style="color: red;">Total : <%= totalAmount %></h3>
        <h3 style="text-align: center;">Thank You For Visiting Visit Again!!</h3>

        
</body>
</html>